/* CUSTOMIZE THE CAROUSEL */

.carousel {
  height: 500px;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  width: 100%;
  margin: auto;
}

/* RESPONSIVE CSS */
@media (max-width: 700px) {
  .carousel {
    height: 200px;
  }
  
  .carousel .item {
    height: 200px;
    background-color: #777;
  }
  
  .carousel-inner > .item > img {
    width: 100%;
    margin: auto;
  }
  
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.4;
  }
  .carousel-caption h1 {
    font-size: 21px;
  }
}
